<div class="bg-white">
    <div aria-hidden="true" class="relative">
        <img src="https://wallpapers.com/images/featured/business-jzw8ax93flqonkce.jpg" alt=""
            class="h-96 w-full object-cover object-center">
        <div class="absolute inset-0 bg-gradient-to-t from-white"></div>
        <div class="absolute inset-0 bg-gradient-to-b from-gray-800"></div>
    </div>

    <div class="relative mx-auto -mt-12 max-w-7xl px-4 pb-16 sm:px-6 sm:pb-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center lg:max-w-4xl mb-8">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">CV</h2>
            <br/>
            <button (click)="exportPdf()"
                            class=" bg-indigo-500 py-2 px-4 rounded text-white hover:text-indigo-900">
                    Export PDF      
            </button>
        </div>

        <div  #cvContainer id="cv-container">
            <div class="container mx-auto px-4 py-8 md:w-3/4">
                <div class="text-center mb-16">
                    <h1 class="text-3xl font-bold text-gray-800">{{ cvData?.name ? cvData?.name : 'Your Name' }}</h1>
                    <p class="text-lg text-gray-600">{{ userData?.occupation ? userData?.occupation : 'Job Title' }}</p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class="bg-white p-4 rounded-md border-2">
                        <h2 class="text-lg font-bold text-gray-800 mb-4">Personal Information</h2>
                        <p class="text-gray-700"><span class="font-bold">Bio:</span> {{ userData?.bio }}</p>
                        <p class="text-gray-700"><span class="font-bold">Email:</span> {{ userData?.email }}</p>
                        <p class="text-gray-700"><span class="font-bold">Contact:</span> (123) {{ cvData?.contact }}</p>
                    </div>
                    <div class="bg-white p-4 rounded-md border-2">
                        <h2 class="text-lg font-bold text-gray-800 mb-4">Professional Summary</h2>
                        <p class="text-gray-700">{{ cvData?.summary }}</p>
                    </div>
                    <div class="col-span-2 bg-white p-4 rounded-md border-2">
                        <h2 class="text-lg font-bold text-gray-800 mb-4">Experience</h2>
                        <p class="text-gray-700">{{ cvData?.experience }}</p>
                    </div>
                    <div class="col-span-2 bg-white p-4 rounded-md border-2">
                        <h2 class="text-lg font-bold text-gray-800 mb-4">Education</h2>
                        <p class="text-gray-700">{{ cvData?.education }}</p>
                    </div>
                    <div class="col-span-2 bg-white p-4 rounded-md border-2">
                        <h2 class="text-lg font-bold text-gray-800 mb-4">Skills</h2>
                        <p class="text-gray-700">{{ cvData?.skills }}</p>
                    </div>
                    <div class="col-span-2 bg-white p-4 rounded-md border-2">
                        <h2 class="text-lg font-bold text-gray-800 mb-4">Languages</h2>
                        <p class="text-gray-700">{{ cvData?.languages }}</p>
                    </div>
                </div>
            </div>
    </div>
</div>