<!-- <div *ngIf="userEmail">
    Welcome, {{ username }}!
</div> -->


<!-- <div class="bg-white p-6 max-w-4xl mx-auto shadow-lg rounded-lg mb-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="md:col-span-1 flex flex-col items-center p-4">
            <div class="w-24 h-24 bg-gray-300 rounded-full shadow-inner mb-4"></div>
            <div class="text-center">
                <div class="font-bold">{{ username }}</div>
                <div>{{ userEmail }}</div>
            </div>
        </div>


        <div class="md:col-span-2 space-y-4 p-4">
            <div class="shadow p-4 rounded-lg bg-gray-50">

            </div>
            <div class="shadow p-4 rounded-lg bg-gray-50">

            </div>
            <div class="flex gap-4">
                <div class="shadow p-4 rounded-lg bg-gray-50 flex-1">

                </div>
                <div class="shadow p-4 rounded-lg bg-gray-50 flex-1">

                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Posts -->
<!-- <div class="max-w-4xl mx-auto">
    <h5 class="font-bold text-lg mb-4">Your posts:</h5>
    <div class="space-y-4">
        <div *ngFor="let post of posts" class="bg-white shadow-lg rounded-lg p-4">
            <p class="font-semibold">Author: {{ post.userEmail }}</p>
            <p class="text-gray-800">Title: {{ post.title }}</p>
            <p class="text-gray-600">Body: {{ post.body }}</p>
            <p class="text-gray-500">Likes: {{ post.likes }}</p>
        </div>
    </div>
</div> -->

<div class="bg-white">
    <div aria-hidden="true" class="relative">
        <img src="https://wallpapers.com/images/featured/business-jzw8ax93flqonkce.jpg" alt=""
            class="h-96 w-full object-cover object-center">
        <div class="absolute inset-0 bg-gradient-to-t from-white"></div>
        <div class="absolute inset-0 bg-gradient-to-b from-gray-800"></div>
    </div>

    <div class="relative mx-auto -mt-12 max-w-7xl px-4 pb-16 sm:px-6 sm:pb-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Profile</h2>
        </div>

        <dl
            class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-8">
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Email</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.email }}</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Avatar</dt>
                <dd class="w-12 h-12 mt-2 text-sm text-gray-500"><img [src]="'assets/img/' + (userData?.avatar ? userData?.avatar : 'default.png')" alt=""></dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Age</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.age }}</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Bio</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.bio }}</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Occupation</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.occupation }}</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Personality</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.personality }}</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Technologies</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.technologies }}</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Goals</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.goals }}</dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
                <dt class="font-medium text-gray-900">Frustrations</dt>
                <dd class="mt-2 text-sm text-gray-500">{{ userData?.frustrations }}</dd>
            </div>
        </dl>
    </div>
</div>

<div class="mt-12 mb-32 mx-auto max-w-2xl text-center lg:max-w-4xl">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">My Posts</h2>
</div>

<div class="container mx-auto -mt-20">

    <div style="overflow-wrap: break-word" *ngFor="let post of posts | async">

        <!-- Adjusted box styling here -->
        <div class="bg-white px-4 py-5 sm:px-6 w-full md:w-1/2 mx-auto my-8 shadow-lg rounded-lg">
            <div class="-mt-6 -mb-6">
                <div class="flex space-x-3">
                    <div class="flex-shrink-0">
                        <img class="h-10 w-10 rounded-full" [src]="'assets/img/' + (post.userAvatar ? post.userAvatar : 'default.png')" alt="">
                    </div>
                    <div class="min-w-0 flex-1">
                        <p class="text-sm font-semibold text-gray-900">
                            <a href="#" class="hover:underline">{{ post.userEmail }}</a>
                            <!-- <button type="button"
                                class="ml-4 rounded-md bg-indigo-50 px-2.5 py-1.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100">Follow</button> -->
                            <!-- <button type="button" (click)="followUser(post.userEmail)"
                                class="ml-2 rounded bg-indigo-50 px-2 py-1 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100">Follow
                            </button> -->
                            <span *ngIf="post.category" class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 mx-2 my-2">
                                {{ post.category }}
                            </span>
                        </p>
                        <p class="text-sm text-gray-500">
                            <a href="#" class="hover:underline">{{ post?.createDate?.toDate().toLocaleDateString() }}
                                {{post?.createDate?.toDate().toLocaleTimeString([], {hour: '2-digit',
                                minute:'2-digit'})}}
                            </a>
                        </p>

                    </div>
                    <!-- <div *ngIf="currentUserEmail === post.userEmail" class="flex-shrink-0">
                        <button (click)="toggleEdit(post)"
                            class=" bg-indigo-500 py-2 px-4 rounded text-white hover:text-indigo-900">
                            {{ post.editing ? 'Close' : 'Edit' }}
                        </button>
                    </div> -->
                </div>
                <div>
                    <p class="mt-4 text-gray-800 font-sans font-normal">
                        {{ post.body }}
                    </p>
                </div>
                <!-- <div *ngIf="post.editing" class="mt-4">
                    <form [formGroup]="postForm" (ngSubmit)="editPost(post)">
                        <textarea formControlName="body" id="body" class="w-full h-20 p-2 border rounded"
                            placeholder="Edit post...">{{ post.body }}</textarea>
                        <button type="submit"
                            class=" bg-indigo-500  py-2 px-4 rounded text-white hover:text-indigo-900">Save</button>
                    </form>
                </div> -->

                <div class="flex justify-between items-center mt-4">

                </div>
            </div>
        </div>

    </div>
</div>